header{
    background-color: blue;
    color: white;
}

main{
    background-color: cadetblue; 
    color: chocolate;
}

footer {
    background-color: red; 
    color: rgb(255, 255, 255);
}


p{
    color: red;
    text-align: center;
}